#body-1{
    background: url(img/img-3.png);
    background-size: cover;        /* FULL screen fill */
    background-position: center;   /* center align */
    background-repeat:no-repeat;  /* repeat aagathu */
    height: 100vh;
}

#content{
    margin-top: 50px;
    
}
#col-1{
    color:black;
    margin-top: 50px;
    position: sticky;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#col-2{
    color: rgb(245, 9, 87);
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#btn-1{
    transform: translateX(-80px);
}
#btn-2{
    position: absolute;
}

#card-head{
    color: rgb(59, 6, 109);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: 400;
}
#card-1{
    background: rgba(255, 255, 255, 0.2); /* white + transparency */
    backdrop-filter: blur(8px);
    border-radius: 15px;
    transition: all 0.4s ease;
}

#card-1:hover{
    background: rgba(255, 255, 255, 0.2); /* white + transparency */
    backdrop-filter: blur(8px);
    border-radius: 15px;
    transform: scale(1.05) translateY(-10px);
}
    
#card-subhead{
    color:maroon;
    font-family: cursive;
    font-size: larger;
    font-weight: 500;
}
#card-letter{
    color: black;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: large;
    font-weight: 500;
    letter-spacing: normal;
    line-height:30px;
}
#btn-3{
    color: rgb(248, 246, 246);
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
    font-size: larger;
    font-weight: 500;
    padding: 5px;
    padding-left: 15px;
    padding-right: 10px;
}
#btn-3:hover{
    background-color: darkviolet;
    border: 4px solid darkviolet;
    
}

#vc-col1{
    color:black;
    margin-top: 50px;
    position: sticky;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#audio-1{
    background-color: transparent;
    position: relative;
}

#body-2{
  margin: 0;
  height: 100vh;
  background-image: url("img/img-1.jpg"); /* your image path */
  background-size:cover;       /* full screen cover */
  background-position: center;  /* center align */
  background-repeat: no-repeat; /* no repeat */
}
